body {
  font-family: Sans-Serif;
}

rect {
   fill: none;
   pointer-events: all;
 }
 
 
div#container {
   border-style: solid;
   margin: 10px;
}

div#counters {
   font-size: 30px;
   float: left;
   height: 180px;
   margin-top: 20px;
   margin-bottom: 20px;
}

div#controls {
   font-size: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   float: right;
   height: 180px;
   margin: 20px;
   text-align: right;
}

#p_SI, #p_IR,#Time_sime {
 width: 75px;
 padding: 3px;
 font-size: 32px;
 margin-top: 10px;
 border: 2px solid #3498db;
}

span#susceptible {
	color: #00f;
    font-size: 14px;
}

span#infectious {
	color: #f00;
    font-size: 14px;
}

span#recovered {
	color: #0f0;
    font-size: 14px;
}

span#count_S, span#count_I, span#count_R {
   font-size: 48px;
   font-weight: bold;
}

div#graph-layout {
   height: 650px;
   margin: 20px;
   background: #fafafa;
   border-style: solid;
   border-width: 2px;
   border-color: #3498db;
   clear: both;
   position: relative;
}
div#epicurves2 {
   width: 320px;
   height: 180px;
   background: #fff;
   margin: 20px;
   float: left;
}
div#epicurves {
   width: 320px;
   height: 180px;
   background: #fff;
   margin: 20px;
   float: left;
}



circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
  border-width: 2px;
  fill: #ff0;
}

line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  stroke-width: 2px;
}

div#graph-control {
   position: absolute;
   top: 0px;
   width: 100%;
   pointer-events: none;
}

span#start-text {
  font-size: 28px;
  text-align: left;
  float: left;
  color: #3498db;
  padding: 10px;
}

button#reset-button , button#Pause-button {
  float: right;
  
  pointer-events: all;
}
button#Start-button {
   float: right;
   
   
   pointer-events: all;
 }
 button#Start-button, button#reset-button, button#Pause-button {
    margin: 10px;
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border: 2px solid #3498db;
 }

 button#Start-button:hover,button#reset-button:hover,button#Pause-button:hover{
   color: #3498db;
 }

div#credits {
   text-align: right;
   font-size: 14px;
   padding: 5px;
}

